<nb-layout>
  <nb-layout-header>
    <app-logo name="editor"></app-logo>
    <div class="nav-actions">
      <!-- <nb-icon
        nbTooltip="Clone website"
        nbTooltipPlacement="bottom"
        pack="custom"
        icon="clone"
        [options]="{ animation: { type: 'pulse' } }"
      ></nb-icon>
      <nb-icon
        nbTooltip="Parse templates"
        nbTooltipPlacement="bottom"
        pack="custom"
        icon="website"
        [options]="{ animation: { type: 'pulse' } }"
      ></nb-icon> -->
      <nb-icon
        nbTooltip="Upload .zip template"
        nbTooltipPlacement="bottom"
        (click)="onOpenUpload()"
        icon="cloud-upload-outline"
        [options]="{ animation: { type: 'pulse' } }"
      ></nb-icon>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div class="view">
      <div class="sidebar">
        <div class="templates">
          <div class="menu-toolbar">
            <p>Pages</p>
            <div class="menu-toolbar-actions">
              <nb-icon
                (click)="onAddFile('page')"
                icon="plus-outline"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
            </div>
          </div>
          <app-menu-pages></app-menu-pages>
        </div>
        <div class="components">
          <div class="menu-toolbar">
            <p>Components</p>
            <div class="menu-toolbar-actions">
              <nb-icon
                icon="info-outline"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
              <nb-icon
                (click)="onAddFile('component')"
                icon="plus-outline"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
            </div>
          </div>
          <app-menu-components></app-menu-components>
        </div>
        <div class="files">
          <div class="menu-toolbar">
            <p>Files</p>
            <div class="menu-toolbar-actions">
              <nb-icon
                icon="upload-outline"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
              <nb-icon
                (click)="onAddFile('asset')"
                icon="plus-outline"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
            </div>
          </div>
          <app-menu-assets></app-menu-assets>
        </div>
      </div>
      <div class="code">
        <div id="editor"></div>
        <!-- <ace-editor id="editor" #editor> </ace-editor> -->
        <div class="save" *ngIf="isDraft()">
          <button
            (click)="deleteDraft()"
            nbButton
            shape="round"
            size="small"
            status="success"
            status="danger"
          >
            <nb-icon icon="close-outline"></nb-icon>
          </button>
          <button
            (click)="saveDraft()"
            nbButton
            shape="round"
            size="large"
            status="success"
          >
            <nb-icon icon="save-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="preview" [ngStyle]="previewStyles">
        <div class="preview-toolbar">
          <div class="icons">
            <nb-icon
              (click)="onResizeIframe('min')"
              icon="minimize-outline"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            <nb-icon
              (click)="onResizeIframe('max')"
              icon="maximize-outline"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            <nb-icon
              (click)="onResizeIframe('phone')"
              icon="smartphone-outline"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            <nb-icon
              (click)="onResizeIframe('desktop')"
              icon="monitor-outline"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
          </div>
          <p class="paragraph">{{ previewStyles.width }}</p>
        </div>
        <iframe id="preview" [src]="previewUrl | safe: 'resourceUrl'"></iframe>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
