@import '../../../theme.scss';
nb-layout-column {
  padding: 0 !important;
}

.nav-actions {
  nb-icon {
    width: 60px;
    height: 60px;
    padding: 15px;
    transition: all 0.33s linear;
    &:hover {
      background-color: nb-theme(color-basic-900);
    }
  }
}
.view {
  background: nb-theme(color-basic-1000);
  height: calc(100vh - 60px);
  width: 100vw;
  display: grid;
  grid-template-areas: 'sidebar code preview';
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr max-content;

  .sidebar {
    grid-area: sidebar;
    background-color: nb-theme(color-basic-700);
    min-width: 200px;
    .templates {
    }
    .components {
    }
    .files {
    }
  }

  .code {
    grid-area: code;
    #editor {
      width: 100%;
      height: 100%;
    }
  }

  .preview {
    grid-area: preview;
    border-left: 2px solid nb-theme(color-basic-800);
    resize: horizontal;
    overflow: auto;
    overflow-y: hidden;
    direction: rtl;
    position: relative;
    max-width: 80vw;
    width: 100%;
    min-width: 100px;
    .preview-toolbar {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: nb-theme(color-basic-900);
      // border-top: 1px solid nb-theme(color-basic-1000);
      p {
        padding-left: 15px;
        font-weight: 600;
      }
      nb-icon {
        height: 40px;
        width: 40px;
        color: nb-theme(color-basic-500);
        cursor: pointer;
        padding: 10px;
        &:hover {
          color: nb-theme(color-basic-100);
        }
      }
    }
    iframe {
      border: 0;
      height: 100%;
      width: 100%;
    }
  }
}
