<nb-layout>
  <nb-layout-header>
    <app-logo name="editor"></app-logo>
    <div class="nav-actions">
      <nb-icon (click)="onOpenUpload()" icon="cloud-upload-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div class="view">
      <div class="sidebar">
        <div class="templates">tempaltes</div>
        <div class="components">components</div>
        <div class="files">files</div>
      </div>
      <div class="code">
        <div id="editor"></div>
        <!-- <ace-editor id="editor" #editor> </ace-editor> -->
      </div>
      <div class="preview" [ngStyle]="previewStyles">
        <div class="preview-toolbar">
          <div class="icons">
            <nb-icon (click)="onResizeIframe('min')" icon="minimize-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <nb-icon (click)="onResizeIframe('max')" icon="maximize-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <nb-icon (click)="onResizeIframe('phone')" icon="smartphone-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <nb-icon (click)="onResizeIframe('desktop')" icon="monitor-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          </div>
          <p class="paragraph">{{previewStyles.width}}</p>
        </div>
        <iframe id="preview" [src]="previewUrl | safe:'resourceUrl'"></iframe>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
